{% extends "base.html" %}

{% block content %}
    <h1>Build A Blog</h1>



    <form action="/new" method='POST'>
        <p><label>Title:<input type ='text' name='title'>
            <span class ='error'> {{title_error}}</span>
        </label>
        </p>
        
        <p><label>
            Blog:<input type="text" name='blog' >
            <span class ='error'> {{post_error}}</span>
        </label>
        <br>
        <input type="submit" value='Add Blog Entry' />
    </p>
    </form>



{% endblock %}

<!--CREATE BLOGS PAGE-->